*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    overflow-x: hidden;
}

body{
    font-family:'Bigelow Rules', cursive;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://lh3.googleusercontent.com/KTYcjKjMFLyb0rN_6fNg4MQqHI0lGB1suSckIm639nyeLxb3JGVP7i9HAxY6tNbyGYTN7ayPFzXxURJGWC9FGzx51kuKAzZejU0uLr7jOGU8pZZTPtUrSoU6SjJYvfnvmJ80B6_ypKI=w2400);
}


.app{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header h1{
    margin: 10px 0px 10px 0px;
    text-align: center;
    font-size: 5vw;
}

header p{
    font-size: 3vw;
    text-align: center;
}

.pads, .content{
    width: 100%;
    display: flex;
}

.navigation{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top:190px;
    position: fixed;
}

.btn{
    margin: 13px;
    font-size: 2vw;
    font-weight: bold;
    display: flex;
    padding: 8px 8px 8px 8px;
    justify-content: center;
    border-radius: 3px;
    font-family:'Bigelow Rules', cursive;
}

.blur-bg{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;  
    display: grid;
    border-radius: 50px;
}

p{
    margin-bottom: 30px;
}

.btn:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 10px;
}


.pads > div {
    height: 130px;
    width: 100px;
    flex: auto;
    border-radius: 20px;
}

.pad1, .pad7{
    background: lightcoral;
}

.pad2, .pad8{
    background: lightgrey;
}

.pad3, .pad9{
    background: lightsalmon;
}

.pad4{
    background: lightgreen;
}

.pad5{
    background: lightpink;
}

.pad6{
    background: mediumorchid;
}

.pad7{
    background: lightseagreen;
}

.pad8{
    background: maroon;
}

.pads > div {
    height: 100px;
    width: 100px;
    flex: auto;
    
}

.pads > div:hover {
    cursor: pointer;
    border: 5px solid black;
}


@keyframes jump{
    0%{
        bottom: 20%;
        left: 0%;
    }
    20%{
        bottom: 50%;
        left: 20%;
    }
    40%{
        bottom: 20%;
        left: 40%;
    }
    60%{
        bottom: 50%;
        left: 60%;
    }
    80%{
        bottom: 20%;
        left: 80%;
    }
    100%{
        bottom: 50%;
        left: 100%;
    }
    
}

.visual > div{
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    bottom: 0%;
    left: 20%;
    bottom: 0%;   
}
.visual2 > div{
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    bottom: 0%;
    left: 20%;
    bottom: 0%;   
}

.content { display:none }

